tensorflow
pandas
dvc
notebook
numpy
matplotlib
seaborn
python-box==6.0.2
pyYAML
tqdm
ensure==1.0.2
joblib
types-pyYAML
scipy
Flask
Flask-Cors
-e .

# TensorFlow: An open-source platform for machine learning, widely used for building and training neural networks.
# Pandas: A data manipulation and analysis library for Python, providing data structures and functions needed to work with structured data.
# DVC (Data Version Control): A version control system for data science and machine learning projects, enabling tracking and sharing of data and models.
# Jupyter Notebook: An interactive web-based environment for creating and sharing documents that contain live code, equations, visualizations, and narrative text.
# NumPy: A fundamental package for scientific computing with Python, providing support for arrays, matrices, and high-level mathematical functions.
# Matplotlib: A plotting library for the Python programming language and its numerical mathematics extension NumPy, used for creating static, animated, and interactive visualizations.
# Seaborn: A statistical data visualization library based on Matplotlib, providing a high-level interface for drawing attractive and informative statistical graphics.
# Python-Box: A Python dictionary subclass that allows for dot notation access to dictionary attributes, version 6.0.2.
# PyYAML: A YAML parser and emitter for Python, used for reading and writing YAML, a human-readable data serialization standard.
# Tqdm: A library for creating progress bars and displaying them in loops and command-line interfaces, making it easier to track the progress of long-running operations.
# Ensure: A library providing a simple way to validate data types and values in Python, ensuring that variables match the expected types and constraints, version 1.0.2.
# Joblib: A set of tools to provide lightweight pipelining in Python, particularly used for parallel processing and caching.
# Types-PyYAML: Type stubs for PyYAML, used to provide type hints and enable better static analysis and code completion for PyYAML.
# SciPy: A Python library used for scientific and technical computing, building on the capabilities of NumPy with additional modules for optimization, integration, interpolation, eigenvalue problems, algebra, and other mathematical tasks.
# Flask: A lightweight WSGI web application framework in Python, designed to make getting started quick and easy, with the ability to scale up to complex applications.
# Flask-Cors: A Flask extension for handling Cross-Origin Resource Sharing (CORS), making it possible to handle requests from other origins and allowing secure cross-domain communication.
